<!DOCTYPE html>
<html>
  <head>
    <title>Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/flights/new">Add Flight</a>
      <a href="/flights">All Flights</a>
    </nav>
    <h1>Flights</h1>
    <p>Schedule a flight now!</p>
