<%- include('../partials/header') %>

<!-- <div>Before adding, please ensure that the Performer is not in the following list:</div>
<section id="badge-container">
  <% performers.forEach(function(p) { %>
    <article class="badge"><%= p.name %></article>
  <% }) %>
</section> -->

<form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
  <label>Seat:</label>
  <input type="text" name="seat">
  <label>Price:</label>
  <input type="number" name="price">
  <label>Flight:</label>
  <input type="ObjectId" name="flight">
  <input type="submit" value="Add Performer">
</form>

<%- include('../partials/footer') %>